*{
    padding: 0;
    margin: 0;
}
body{
    background-color: darkgoldenrod;

}

.logo a{
    float: right;
    padding: 5px;
    
}
.logo a button{
    border-radius: 5px;
    width: 60px;
    height: 25px;
    margin-top: 15px;
    color: rgb(130, 94, 5);
    text-shadow: 100px;
}
.logo img {
    padding: 5px;
}
.main h1{
    color: rgba(84, 61, 3, 0.904);
    font-weight: bold;
    margin-top: 10px;
    margin:50px;
}
.main p{
    color: rgba(84, 61, 3, 0.904) ;
    margin:50px;
    margin-bottom: -50px;
}
.main button{
    margin: 100px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin-bottom: -40px;
    background: 0%;
    box-shadow: 40px;
    cursor: pointer;
}
.main img{
    float: right;
    width: 400px;
    height: 400px;
    margin-top: -40px;
}
img{
    width: 250px;
    height: 200px;
    margin-bottom: -50px;
    padding: 10px;
}
.parent a h3{
    color:rgba(84, 61, 3, 0.904) ;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;

}
.card img{
    width: 150px;
    height: 120px;
    padding: 10px;
    margin: 10px;
    column-count: auto;
}
.container{
    background: white;
    width: fit-content;
    margin-top: 40px;
    padding: 10px;
    margin: 10px;
}
