*{
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;

}

.logo a{
    float: right;
    padding: 5px;
    
}
.logo a button{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin-top: 15px;
    color: rgb(130, 94, 5);
    text-shadow: 100px;
}
.logo img {
    padding: 5px;
}
.main h1{
    color: rgba(84, 61, 3, 0.904);
    font-weight: bold;
    margin-top: 10px;
    margin:50px;
}
.main p{
    color: rgba(84, 61, 3, 0.904) ;
    margin:50px;
    margin-bottom: -50px;
}
.main button{
    margin: 100px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin-bottom: -40px;
    background: 0%;
    box-shadow: 40px;
    cursor: pointer;
}
.main img{
    float: right;
    width: 400px;
    height: 400px;
    margin-top: -40px;
}
img{
    width: 250px;
    height: 200px;
    margin-bottom: -50px;
    padding: 10px;
}
.parent a h3{
    color:rgba(84, 61, 3, 0.904) ;
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;

}

.card-container {
    display: flex;
    gap: 100px;
    padding: 20px;
    margin-left: 110px;
    height: 300px;
}

.card {
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 150px; /* Fixed height to ensure all images are consistent */
    margin-right: 5px;
    object-fit: cover; /* Ensure the image covers the area */
}

.card-title {
    margin: 16px;
    font-size: 1.2em;
    color: #fff;
   
}
.paragraph{
    background-color: #fff;
}
.imaag img{
    width: 550px;
    height: 300px;
    margin-top: 100px;
}
.imaag p{
    float: right;
    width: 500px;
    font-style: italic;
    font-weight: bold;
    margin-top: 200px;
   
}
.beans{
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
  color: rgba(84, 61, 3, 0.904);
}
